* {
  margin:0;
  padding:0;
  font-family: 'Lato', sans-serif;
  font-family: 'Oswald', sans-serif;
}

.overallcontainer{
	overflow: hidden;
}
.image_{
	display:block;
}
.image_ img{
	width:100%;
}
.nav-bar {
	display:block;
	position:absolute;
	top:20px;
	right:0;
	
}

body#home a#home_nav,
body#fashion a#fash_nav,
body#blogmain a#blogm_nav,
body#about a#about_nav,
body#contact a#contact_nav,
body#photography #photo_nav, {
	background:black;
}

.nav-bar li{
	display: inline-block;
	margin-right: 25px;
		padding: 9px 10px;
}
.nav-bar a{
	  font-family: 'Lato', sans-serif ;
	  font-weight: 300;
	  text-transform: uppercase;
	  text-decoration: none;
	  list-style-type: none;
	  color:white;
	  letter-spacing: 3px;
	  font-size: 12px;

}
.nav-bar a:hover{
	color:#CCCCCC;
}
.blog-body{
	width:50%;
	margin: auto;
	text-align: center;
	padding:10px 0px 0px 0px;
	border-bottom: black  ;
	border-bottom-style:double;

}
.date{
	font-family: 'Lato', sans-serif ;
	font-weight: 300;
	color: pink;
	font-size: 12px;
	padding-bottom: 5px;
	text-transform: uppercase;
	border-bottom:1px dotted;
}
.title{
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 35px;
}

.line{
	font-family: 'Lato', sans-serif ;
	font-weight: 300;
	font-size: 18px;
	letter-spacing: 1px;
	overflow: hidden;
	margin-bottom: 20px;
	text-align: center;

}

.line_quote{
	font-family: 'Lato', sans-serif ;
	font-weight: 400;
	font-size: 25px;
	letter-spacing: 1px;
	overflow: hidden;
	margin-bottom: 20px;
	text-align: center;

}
.speech{
	font-family: 'Lato', sans-serif ;
	font-weight: 300;
	font-style: italic;
	font-size: 18px;
	letter-spacing: 1px;
	overflow: hidden;
	margin-bottom: 20px;
	text-align: center;
}
.first_line{
	font-family: 'Lato', sans-serif ;
	font-weight: 300;
	letter-spacing: 1px;
	font-size: 18px;
	overflow: hidden;
	margin-bottom: 20px;
	text-align: center;
}
.first_line::first-letter{
	color:pink;
	font-size: 40px;

}

.caption{
	font-family: 'Lato', sans-serif ;
	font-weight: 300;
	font-size: 12px;
	letter-spacing: 1px;
	overflow: hidden;
	margin-bottom: 10px;
	text-align: center;


}
.blog_image{
	width:50%;
	padding:10px;
	border:5px solid black;
	margin: 10px;
}
.social-bar {
	text-align: center;
	padding-top:30px;
}
.social-bar li{
	display: inline-block;
	width:15%;
}

.social-bar img{
	width:20%;
}

.sign-off{
	width:25%; 
}
.comment_share{
	text-align: center;
	padding-top: 10px;
}
.comment{
	display:inline-block;
	border:1px solid;
	width:150px;
	text-align: center;
	font-size: 18px;
	text-transform: uppercase;
	margin-right:20px;
	padding: 5px 5px;
	
}

.share{
	display:inline-block;
	border:1px solid;
	width:150px;
	text-align: center;
	font-size: 18px;
	text-transform: uppercase;
	margin-left:20px;
	padding: 5px 5px
}
.comment_share a{
	text-decoration: none;
	color: #575757;

}
.comment_share a:hover{
	color:black;
}
.image2_{
	display: block;
}
.image2_ img{
	width:100%;
}
.copyright{
	text-transform: uppercase;
	text-align: center;
}
.copyright p{
	text-transform: uppercase;
	text-align: center;
    font-family: 'Lato', sans-serif;
	font-size: 10px;
}

.copyright a{
	text-transform: uppercase;
    font-family: 'Lato', sans-serif;
	font-size: 10px;
	color:#F94990;
}

.copyright a:hover{
	color:black;
}

@media (max-width:600px){
	.nav-bar a{
		font-size: 9px;
		float:left;
	}
	
	.social-bar {
	border-top: 1px grey solid;
	text-align: center;
	margin-top:20px;
	padding-top:20px;
	
	}

	.social-bar img{
	width:35%;
}
	.date{
	font-size: 8px;
	padding-bottom: 5px;
}
	.title{
		font-weight: 400;
		font-size: 25px;
		padding-bottom: 10px;
	}
	.first_line{
		font-size: 12px; 
	}
	.line{
		font-size: 12px;
	}


	.line_quote{
		font-size: 14px;
		

	}
	.speech{
		font-size: 12px;

	}

	.comment{
	display:inline-block;
	border:1px solid;
	width:50px;
	text-align: center;
	font-size: 8px;
	text-transform: uppercase;
	margin-right:10px;
	padding: 3px 3px;
	}

	.share{
		display:inline-block;
		border:1px solid;
		width:50px;
		text-align: center;
		font-size: 8px;
		text-transform: uppercase;
		margin-left:10px;
		padding: 3px 3px
	}

	.blog-body{
	padding:20px 0px 0px 0px;
	}
	
}

@media (max-width:890px){
	.nav-bar li a:hover{
		background: black;
	}
	.nav-bar {
		width:150px;
		background: black;
		opacity: 0.5;

	}
	.nav-bar li{
		float:left;
		padding-bottom: 5px;		
	}
}

