* {
  margin:0;
  padding:0;
  font-family: 'Alegreya', serif;
  font-family: 'Lato', sans-serif;

}

.overallcontainer{
	overflow: hidden;
}

.image_{
	display:block;
}

.image_ img{
	width:100%;
}

.nav-bar {
	display:block;
	position:absolute;
	top:20px;
	right:0;
	
}

.nav-bar li{
	display: inline-block;
	margin-right:  25px;
	padding: 9px 10px;
}

.nav-bar a{
	  font-family: 'Lato', sans-serif ;
	  font-weight: 300;
	  text-transform: uppercase;
	  text-decoration: none;
	  list-style-type: none;
	  color:white;
	  letter-spacing: 3px;
	  font-size: 12px;


}

.nav-bar a:hover{
	color:#CCCCCC;
}

.header-past{
	width:100%;
}


.introduction{
	font-family: 'Lato', sans-serif ;
	font-weight: 200;
	letter-spacing: 3px;
	font-size: 45px;
	text-align: center;
	width:100%;
	display: inline-block;
	padding:20px 0px;
}


.green-color{
	display: inline-block;
	color:#50E3C2;
	font-weight: 300;
	text-transform: uppercase;
	padding-bottom: 20px;
}
.black-color{
	color:black;
	font-weight: 200;
	text-transform: uppercase;
	font-size: 30px;
	text-align: center;
	padding-bottom: 30px;
}

.form-fields{
	color:black;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 20px;
	margin-top: 15px;	
}

.short-field{
	width:300px;
	height:20px;
}

.long-field{
	margin-top: 30px;
	width:500px;
	height:120px;
}

.submit-button{
	width:150px;
	text-transform: uppercase;
	color: white;
	background: black;
	border:none;
	height: 40px;
	font-weight: 200;
	font-size: 20px;
	font-family: 'Lato', sans-serif ;
	
}


.social-bar {
	width:99%;
	text-align: center;
	margin-top:20px;
	padding-top:30px;
}

.social-bar li{
	display: inline-block;
	width:15%;
}

.social-bar img{
	width:25%;
}



.image_b img{
	width:100%;
}

.copyright{
	text-transform: uppercase;
	text-align: center;
}

.copyright p{
	text-transform: uppercase;
	text-align: center;
    font-family: 'Lato', sans-serif;
	font-size: 10px;
}

.copyright a{
	text-transform: uppercase;
    font-family: 'Lato', sans-serif;
	font-size: 10px;
	color:#F94990;
}

.copyright a:hover{
	color:black;
}

@media (max-width:600px){
	
	.nav-bar a{
		font-size: 9px;
		float:left;
	}
	
	.header-title{
	font-size: 40px;
	}

	.social-bar {
	text-align: center;
	margin-top:20px;
	padding-top:20px;
	
	}

	.social-bar img{
	width:35%;
}
	
}

@media (max-width:890px){
	.nav-bar li a:hover{
		background: black;
	}
	.nav-bar {
		width:150px;
		background: black;
		opacity: 0.5;

	}
	.nav-bar li{
		float:left;
		padding-bottom: 5px;		
	}

	.introduction{
		font-size:12px;
		padding:10px 0px;
	}

	.form-fields{
	font-size: 12px;
	}

	.black-color{
		font-size: 14px;
		padding:0px;
	}

	.long-field{
	margin-top: 20px;
	width:300px;
	height:120px;
	margin-left: 8px;
	}

	.submit-button{
	margin-top:20px;
	font-size: 15px;
	width:120px;
	height:30px;
	}


	
}
