* {
  margin:0;
  padding:0;
  font-family: 'Alegreya', serif;
  font-family: 'Lato', sans-serif;

}

.overallcontainer{
	overflow: hidden;
}

.image_{
	display:block;

}

.image_ img{
	width:100%;

}

.nav-bar {
	display:block;
	position:absolute;
	top:20px;
	right:0;
	
}
body#home a#homenav,
body#fashion a#fashnav,
body#blogmain a#blogmnav,
body#about a#aboutnav,
body#contact a#contactnav,
body#photography a#photonav{
	background:white;
	border-radius: 4px;
	color:black;
	font-weight: 600;
	padding:10px;
}

.nav-bar li{
	display: inline-block;
	margin-right:  25px;
	padding: 9px 10px;
}

.nav-bar a{
	  font-family: 'Lato', sans-serif ;
	  font-weight: 300;
	  text-transform: uppercase;
	  text-decoration: none;
	  list-style-type: none;
	  color:white;
	  letter-spacing: 3px;
	  font-size: 12px;


}

.nav-bar a:hover{
	color:#CCCCCC;
}


.set_1{
	width:99%;
	margin: auto;
	overflow: hidden;
	padding-top: 20px;
	padding-bottom: 40px;
	border-bottom: 3px dotted black ;

}
.story_photos {
	display: inline-block;
	overflow: hidden;
	text-align: center;
	padding-top: 50px;
	
}

.story_photos img{
	width:45%;
	display:inline-block;
	margin: auto;
	padding: 20px;

}
.photo_portrait{
	display:block;
	width:30%;
	margin: auto;
	padding-top: 20px;
}

.story{
	display: block;
	width:60%;
	overflow: hidden;
	text-align: center;
	border:1px dashed gray;
	margin: auto;

}
.date{
	padding-top: 20px;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
}

.title{
font-family: 'Oswald', sans-serif;
font-weight: 300;
letter-spacing: 1px;
text-transform: uppercase;
font-size: 25px;
padding: 5px 0px 20px 0px;
margin-bottom: 20px;
border-bottom: 1px dashed black;
}

.paragraph{
	font-size: 16px;
	font-family: 'Dosis', sans-serif;
	margin-bottom: 10px;
	letter-spacing: 1px
}


.social-bar {
	padding-top:30px;
	display: block;
	text-align: center;
	height:50px;
}

.social-bar li{
	display: inline-block;
	width:15%;
}

.social-bar img{
	width:20%;
}




.image_b img{
	width:99%;

}

.mailing-text{
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 400;
	padding: 10px 0px;
}

.input-box{
	border-color: black;
	height:30px;
	width:300px;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	text-align: center;
	margin: auto;
	font-weight: 300;
}

.submit-button{
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	height:34px;
	width:304px;
	font-size: 15px;
	text-align: center;
	background: black;
	border:2px black solid;
	border-top: 0px;
	color: white;
	margin-right:4px;
}

.submit-button:hover{
	background: grey;
}

.copyright{
	text-transform: uppercase;
	text-align: center;
}

.copyright p{
	text-transform: uppercase;
	text-align: center;
    font-family: 'Lato', sans-serif;
	font-size: 10px;
}

.copyright a{
	text-transform: uppercase;
    font-family: 'Lato', sans-serif;
	font-size: 10px;
	color:#F94990;
}

.copyright a:hover{
	color:black;
}

@media (max-width:600px){
	.nav-bar a{
		font-size: 9px;
		float:left;
	}

	.title{
		font-size: 17px;
		font-weight: 400;
	}
	
	.description{
		padding:10px 0px;
	}
	.date{
	font-size: 8px;
	}
	.paragraph{
	font-size: 12px;
	font-family: 'Dosis', sans-serif;
	margin-bottom: 10px;
}

	.input-box{
	height:20px;
	width:200px;
	font-size: 12px;
	}
	.submit-button{
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	height:24px;
	width:204px;
	border:2px black solid;
	}
	.mailing-text{
		font-size: 14px;
		padding:5px;
	}
	.header-title{
	font-size: 40px;
	}
}

@media (max-width:890px){

	.story{
		width:70%;
	}
	.nav-bar li a:hover{
		background: black;
	}
	.nav-bar {
		width:150px;
		background: black;
		opacity: 0.5;

	}
	.nav-bar li{
		float:left;
		padding-bottom: 5px;		
	}
	
}
