* {
  margin:0;
  padding:0;
  
  font-family: 'Lato', sans-serif;


}

.overallcontainer{
	overflow: hidden;
}
.image_{
	display:block;
}
.image_ img{
	width:100%;
}
.nav-bar {
	display:block;
	position:absolute;
	top:20px;
	right:0;
	
}

body.home a.home_nav,
body.fashion a.fash_nav,
body.blogmain a.blogm_nav,
body.about a.about_nav,
body.contact a.contact_nav,
body.photography .photo_nav, {
	background:black;
}
.nav-bar li{
	display: inline-block;
	margin-right: 25px;
	padding: 9px 25px;
}
.nav-bar a{
	  font-family: 'Lato', sans-serif ;
	  font-weight: 300;
	  text-transform: uppercase;
	  text-decoration: none;
	  list-style-type: none;
	  color:white;
	  letter-spacing: 3px;
	  font-size: 12px;

}
.nav-bar a:hover{
	color:#CCCCCC;
}

.social-bar {
	text-align: center;
	padding-top:10px;
}
.social-bar li{
	display: inline-block;
	width:15%;
}

.social-bar img{
	width:20%;
}

.image_b img{
	width:100%;
}
.copyright{
	text-transform: uppercase;
	text-align: center;
}
.copyright p{
	text-transform: uppercase;
	text-align: center;
    font-family: 'Lato', sans-serif;
	font-size: 10px;
}

.copyright a{
	text-transform: uppercase;
    font-family: 'Lato', sans-serif;
	font-size: 10px;
	color:#F94990;
}

.copyright a:hover{
	color:black;
}

@media (max-width:600px){
	
	.nav-bar a{
		font-size: 9px;
		float:left;
	}
	
	.social-bar {
	text-align: center;
	margin-top:20px;
	padding-top:20px;
	
	}

	.social-bar img{
	width:35%;
}
	
}

@media (max-width:890px){

	.nav-bar {
		width:150px;
		background: black;
		opacity: 0.5;

	}
	.nav-bar li{
		float:left;
		padding-bottom: 5px;		
	}
}

